.menu{
    z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transition: 0.4s;
    height: 100%;
    background: #333;
    display: flex;
    justify-content: flex-end;

    &_active{
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
      }
    }

    &__close{
      color: #ffdd2d;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      &:hover{
        color: white;
      }
  
      span{
        line-height: 1;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 5px;
      }
      i{
        margin-left: 15px;
      }
    }
  
    &__wrapper{
      padding-top: 40px;
      padding-right: 30px;
      box-sizing: border-box;
      width: 405px;
      display: flex;
      flex-direction: column;
      padding-left: 100px;
      justify-content: space-between;
  
    }
  
    &__items{
      display: flex;
      flex-direction: column;
      margin-top: 57px;
      transition: 0.15s;
      height: 100%;
      max-height: 387px;
      justify-content: space-between;
  
     
      a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        &:hover{
          color: #ffdd2d;
        }
      }
  
      &_active{
        color: #ffdd2d !important;
      }
  
    }
  
    .button{
      width: 170px;
    }
  
    &__link{
      text-decoration: none;
      color: #ffdd2d;
      font-size: 14px;
      margin-bottom: 2px;
    }
  }
  
  
  .mob-menu{
    display: none;
    .icon-close{
      display: none;
    }
    width: 30px;

    transition: 0.4s;

  }